name: "Hello world workflow"

# Trigger the workflow on push on main or production branches,
on:
  push:
    branches:
      - main
      - production

jobs:
  hello_world:
    runs-on: ubuntu-latest
    steps:
      - name: "Print Hello World"
        run: echo "Hello World"