name: "Multi event pipeline"

on:
  push:
    branches:
      - main
      - test

  pull_request:
    branches:
      - main

jobs:
  on-push:
    if: github.event_name == 'push' # only run on push
    runs-on: ubuntu-latest
    steps:
      - name: "Running on main push"
        run: echo "Running on main push"
    
  on-pull-request:
    if: github.event_name == 'pull_request' # only run on pull request
    runs-on: ubuntu-latest
    steps:
      - name: "Running on pull request"
        run: echo "Running on pull request"
